In [1]:
import os
print(os.getcwd())

C:\Users\vysakh v\seamless source

In [1]:
pip install mysql

Collecting mysql
  Downloading mysql-0.0.3-py3-none-any.whl (1.2 kB)
Collecting mysqlclient
  Downloading mysqlclient-2.1.1-cp39-cp39-win_amd64.whl (178 kB)
     -------------------------------------- 178.5/178.5 kB 1.2 MB/s eta 0:00:00
Installing collected packages: mysqlclient, mysql
Successfully installed mysql-0.0.3 mysqlclient-2.1.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
import mysql.connector as connection
import pandas as pd

In [11]:
sql = 'select * from demoss.articles;'

In [6]:
db = connection.connect(host='localhost',database='demoss',user='root',password='root',use_pure=True)

In [12]:
df = pd.read_sql(sql,db)

In [13]:
df.head()

Empty DataFrame
Columns: [id, title, body, created_at, updated_at]
Index: []

In [14]:
def execute(c, command):
    c.execute(command)
    return c.fetchall()

In [15]:
c = db.cursor()

In [16]:
for table in execute(c, "show tables;"):
    table = table[0]
    cols = []
    for item in execute(c, "show columns from " + table + ";"):
        cols.append(item[0])
    data = execute(c, "select * from " + table + ";")
    with open(table + ".csv", "w", encoding="utf-8") as out:
        out.write("\t".join(cols) + "\n")
        for row in data:
            out.write("\t".join(str(el) for el in row) + "\n")
    print(table + ".csv written")

articles.csv written
care_instructions.csv written
categories.csv written
certifications.csv written
chat_members.csv written
chats.csv written
companies.csv written
company_machine_types.csv written
company_product_types.csv written
contact_details.csv written
cost_cm_fob.csv written
cost_embellishments.csv written
cost_fabric.csv written
cost_other.csv written
cost_service_suppliers.csv written
cost_trims.csv written
cost_yarn.csv written
costing_services.csv written
currencies.csv written
data_rows.csv written
data_types.csv written
fabric_sourcings.csv written
failed_jobs.csv written
feature_notification_reads.csv written
feature_notification_roles.csv written
feature_notifications.csv written
feedback.csv written
files.csv written
gallery_images.csv written
inquiries.csv written
inquiry_additional_files.csv written
inquiry_categories.csv written
inquiry_cost_cm_fob_versions.csv written
inquiry_cost_embellishment_versions.csv written
inquiry_cost_fabric_versions.csv written
inquiry_cost_other_versions.csv written
inquiry_cost_trim_versions.csv written
inquiry_cost_yarn_versions.csv written
inquiry_costing_versioning_comments.csv written
inquiry_costing_versions.csv written
inquiry_current_sub_service.csv written
inquiry_packages.csv written
inquiry_per_piece_total_costs_versions.csv written
inquiry_productions.csv written
inquiry_services.csv written
inquiry_sub_services.csv written
inquiry_suppliers.csv written
inquiry_traces.csv written
inquiry_traces_instructions.csv written
jobs.csv written
materials.csv written
menu_items.csv written
menus.csv written
message_reads.csv written
messages.csv written
migrations.csv written
mobile_notifications.csv written
mobile_push_notifications.csv written
notifications.csv written
oauth_access_tokens.csv written
oauth_auth_codes.csv written
oauth_clients.csv written
oauth_personal_access_clients.csv written
oauth_refresh_tokens.csv written
package_services.csv written
pages.csv written
password_resets.csv written
per_piece_total_costs.csv written
permission_role.csv written
permissions.csv written
pin_messages.csv written
posts.csv written
product_types.csv written
production_size_breakdowns.csv written
roles.csv written
secondary_cost_version_comments.csv written
service_costs.csv written
services.csv written
settings.csv written
sub_service_assignees.csv written
sub_services.csv written
sustainability_answers.csv written
sustainability_questions.csv written
tech_pack_fabrics.csv written
tech_pack_hangtag_packagings.csv written
tech_pack_productions.csv written
tech_pack_styles.csv written
tech_packages.csv written
tech_packs.csv written
telescope_entries.csv written
telescope_entries_tags.csv written
telescope_monitoring.csv written
traces.csv written
translations.csv written
unit_of_measurements.csv written
user_roles.csv written
users.csv written
websockets_statistics_entries.csv written

In [41]:
cat = pd.read_csv('categories.csv')

In [42]:
cat.head()

,id,parent_id,order,name,slug,created_at,updated_at
0,1,NaN,1,Category 1,category-1,2021-05-31 03:16:09,2021-05-31 03:16:09
1,2,NaN,1,Category 2,category-2,2021-05-31 03:16:09,2021-05-31 03:16:09

In [43]:
users = pd.read_csv('users.csv')
users.head()

,id,role_id,first_name,last_name,brand_name,email,avatar,email_verified_at,password,role_verified_status,...,billing_address_city,billing_address_state,billing_address_post_code,billing_address_country,delivery_address_line1,delivery_address_line2,delivery_address_city,delivery_address_state,delivery_address_post_code,delivery_address_country
0,1,1,Carla,Carla,Carla,Carla.Carla1@example.com,users/default.png,NaN,abcdefghijklmnopqrstuvwxyz,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,31,1,Jill,Jill,Jill,Jill.Jill31@example.com,users/default.png,NaN,abcdefghijklmnopqrstuvwxyz,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,48,3,John,John,John,John.John48@example.com,users/default.png,NaN,abcdefghijklmnopqrstuvwxyz,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,61,3,Cassandra,Cassandra,Cassandra,Cassandra.Cassandra61@example.com,users/default.png,NaN,abcdefghijklmnopqrstuvwxyz,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,62,3,Dan,Dan,Dan,Dan.Dan62@example.com,users/default.png,NaN,abcdefghijklmnopqrstuvwxyz,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
import csv

for table in execute(c, "show tables;"):
    table = table[0]
    cols = []
    for item in execute(c, "show columns from " + table + ";"):
        cols.append(item[0])
    data = execute(c, "select * from " + table + ";")
    with open(table + ".csv", "w", encoding="utf-8", newline='') as out:
        writer = csv.writer(out, delimiter=',')
        writer.writerow(cols)
        for row in data:
            writer.writerow(row)
    print(table + ".csv written")

articles.csv written
care_instructions.csv written
categories.csv written
certifications.csv written
chat_members.csv written
chats.csv written
companies.csv written
company_machine_types.csv written
company_product_types.csv written
contact_details.csv written
cost_cm_fob.csv written
cost_embellishments.csv written
cost_fabric.csv written
cost_other.csv written
cost_service_suppliers.csv written
cost_trims.csv written
cost_yarn.csv written
costing_services.csv written
currencies.csv written
data_rows.csv written
data_types.csv written
fabric_sourcings.csv written
failed_jobs.csv written
feature_notification_reads.csv written
feature_notification_roles.csv written
feature_notifications.csv written
feedback.csv written
files.csv written
gallery_images.csv written
inquiries.csv written
inquiry_additional_files.csv written
inquiry_categories.csv written
inquiry_cost_cm_fob_versions.csv written
inquiry_cost_embellishment_versions.csv written
inquiry_cost_fabric_versions.csv written
inquiry_cost_other_versions.csv written
inquiry_cost_trim_versions.csv written
inquiry_cost_yarn_versions.csv written
inquiry_costing_versioning_comments.csv written
inquiry_costing_versions.csv written
inquiry_current_sub_service.csv written
inquiry_packages.csv written
inquiry_per_piece_total_costs_versions.csv written
inquiry_productions.csv written
inquiry_services.csv written
inquiry_sub_services.csv written
inquiry_suppliers.csv written
inquiry_traces.csv written
inquiry_traces_instructions.csv written
jobs.csv written
materials.csv written
menu_items.csv written
menus.csv written
message_reads.csv written
messages.csv written
migrations.csv written
mobile_notifications.csv written
mobile_push_notifications.csv written
notifications.csv written
oauth_access_tokens.csv written
oauth_auth_codes.csv written
oauth_clients.csv written
oauth_personal_access_clients.csv written
oauth_refresh_tokens.csv written
package_services.csv written
pages.csv written
password_resets.csv written
per_piece_total_costs.csv written
permission_role.csv written
permissions.csv written
pin_messages.csv written
posts.csv written
product_types.csv written
production_size_breakdowns.csv written
roles.csv written
secondary_cost_version_comments.csv written
service_costs.csv written
services.csv written
settings.csv written
sub_service_assignees.csv written
sub_services.csv written
sustainability_answers.csv written
sustainability_questions.csv written
tech_pack_fabrics.csv written
tech_pack_hangtag_packagings.csv written
tech_pack_productions.csv written
tech_pack_styles.csv written
tech_packages.csv written
tech_packs.csv written
telescope_entries.csv written
telescope_entries_tags.csv written
telescope_monitoring.csv written
traces.csv written
translations.csv written
unit_of_measurements.csv written
user_roles.csv written
users.csv written
websockets_statistics_entries.csv written